<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Not Found</title>
    <link rel="stylesheet" href="../../static/stylesheet/css/404.css">
    <!-- <link rel="stylesheet" href="../../static/stylesheet/components/button.css"> -->
</head>
<body>
    <div class="whole">
        <img src="../../static/images/logo/404.png" alt="404 error image">
        <p>The requested resource was not found on this server.</p>
        <button onclick="goBack()"> Go Back</button>
    </div>

    <script>
    function goBack() {
      history.back();
    }
  </script>
</body>
</html>